@charset "utf-8";
.Tlist{
	width: 100%;
	height: 25px;
	background-color: #FFFFFF;
	overflow: hidden;
	border-bottom: 1px solid #E3E3E3;
}
.Tlist ul li{
	width: 17%;
	float: left;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
	padding: 0 1%;
}
.Tlist ul li a{
	color: #c1c1c1;
}
.AC{
	color: #3aa8fd !important;
}
.theme-popover-mask {
	z-index: 9998;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.4;
	filter:alpha(opacity=40);
}
.RW{
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	position: relative;
	padding: 15px; 
	width: 100%;
	display:block;
	border-bottom: 1px solid #d7d7d7;
}
.RW img{
	width: 33%;
	max-height: 140px;
	display: block;
	float: left;
}
.RW .fln{
	float: left;
	 width: 63%;
	 margin-left: 2%;
	 margin-top: -18px;
	 display: inline-block;
	 text-align: left;
	 color: #333333;
	 overflow: hidden;
}
.RW .fln h4{
	color: #333333;
	display: inline-block;
	font-weight: 600;
	white-space: nowrap;
	overflow: hidden;
	width:100% ;
}
.RW .fln span{
	color: #fe0000;
}
.RW-c{
	width: 100%;
	height: 60px;
	padding: 3px 15px;
}
.RW-c ul li{
	width: 50%;
	float: left;
	line-height: 30px;
	font-size: .8rem;
	    color: #333;
}
.RW-c ul li:nth-child(2n+1){
	width: 42%;
}
.RW-c ul li:nth-child(2n){
	width: 53%;
}

.rw-lq{
	height: 27px;
	padding:2% 12%;
}
.rw-lq a{
	display: inline-block;
	width: 38%;
	height: 27px;
	line-height: 27px;
	background-color: #3aa9fd;
	color: #FFFFFF;
	border-radius: 5px;
	text-align: center;
	font-size: .7rem;
}
.wxts{
	width: 96%;
	height: auto;
	font-size: .7rem;
	color: #5C5C5C;
	line-height: 25px;
	padding: 0 3%;
}
.wxts span{
	color: #ff4800;
}
.hui{
	background-color: #aba3a3 !important;
}
.rwxq{
	width: 94%;
	height: auto;
	font-size: .7rem;
	color: #5C5C5C;
	line-height: 25px;
	padding: 2% 3%;
}
.rwxq img{
	width: 100%;
}
.rw-head{
	height: 25px;
}
.rw-head span{
	display: inline-block;
	float: left;
}
.rw-head span:nth-child(2n+1){
	width: 34%;
	border-bottom:  solid 1px #eaeaea;
	height: 11px;
}
.rw-head span:nth-child(2n){
	width: 30%;
	height: 22px;
	line-height: 22px;
	text-align: center;
	border-radius: 5px;
	font-size: .7rem;
	border:solid 1px #eaeaea ;
}



